[submodule "external/imgui/upstream"]
	path = external/imgui/upstream
	url = https://github.com/ocornut/imgui.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
